body{
    background-color: black;
}

img {
    width: 100px;
    height: 100px;
    position: absolute;
    animation: floatAround 10s infinite linear;
}

#videoplayer{
    background-color: rgba(0, 0, 0, 0);
    margin: auto;
    width: 40vw;
    height: 40vh;
    margin-top: 25vh;
    border-style: solid;
    border-color: white;
    border-width: 3px;
}

#storyselector{
    display: flex;
    justify-content: center;
}

.char {
    background-color: rgba(0, 0, 0, 0);
    text-decoration: none;
    width: 20vh; 
    height: 20vh; 
    margin: 60px;
    border-style: solid;
    border-color: white;
    border-width: 3px;
    position: relative; 
    overflow: hidden; 
    cursor: pointer;
}

#charA {
    background-image: url(./images/spiderlogo.png);
    background-size: cover;
    background-position: center;
}

#charA video { 
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    display: none; 
}

#charC video { 
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    display: none; 
}

#charA:hover video {
    display: block;
}

#charC:hover video {
    display: block;
}
#fas-for {
   background-image: url(./images/ffwd.png);
   background-size: 99% 115%;
   background-repeat: no-repeat;
   background-position: center;
}
#charC {
    background-image: url(./images/stalker.png);
    background-size: 99% 115%;
    background-repeat: no-repeat;
    background-position: center;
}

@keyframes floatAround {
    0% {
        top: 0;
        left: 0;
    }
   
    25% {
        top: 0;
        left: calc(100% - 125px);
        transform: rotate(90deg);
    }
    50% {
        top: calc(100% - 125px);
        left: calc(100% - 120px);
        transform: rotate(180deg);
    }
    75% {
        top: calc(100% - 120px);
        left: 0;
        transform: rotate(270deg);
    }
    100% {
        top: 0;
        left: 0;
        transform: rotate(360deg);
    }
}
